In [ ]:
# 만들자!! 화이팅

# DB 만들기

In [2]:
import sqlite3

In [24]:
conn = sqlite3.connect('late.db')
cur = conn.cursor()
cur.executescript('''
    DROP TABLE IF EXISTS Member;
    CREATE TABLE Member(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name  TEXT   NOT NULL,
        deposit   INT    NOT NULL
    )
''')
cur.executescript('''
    INSERT INTO Member VALUES(1, '김성진', 10000);
    INSERT INTO Member VALUES(2,'허진용', 10000);
    INSERT INTO Member VALUES(3,'한상훈', 10000);
    INSERT INTO Member VALUES(4,'서재완', 10000);
''')
conn.commit()

In [25]:
cur.executescript('''
    UPDATE Member SET deposit = deposit - 2000 WHERE name = '김성진'
''')
conn.commit()

# 로직
    단순한 로직이지만, 텍스트가 들어왔을 때 split을 하고 지각이라고 표시된 경우에는 패널티가 부여되는 형식으로 만들어 냈음

In [134]:
# 예시 텍스트
a = """성진 지각
상훈 지각
진용 지각
"""

In [135]:
res = a.split()

In [136]:
# Member들
cur.execute('SELECT name FROM Member')
member_list = cur.fetchall()
member = list(x[0] for x in member_list)

In [137]:
member

['김성진', '허진용', '한상훈', '서재완']

In [138]:
late_list = []
for i in range(0, len(res), 2):
    if res[i + 1] == '지각':
        late_list.append(res[i])

In [140]:
late_list

['성진', '상훈', '진용']

In [139]:
member

['김성진', '허진용', '한상훈', '서재완']

In [141]:
def add_member(name, deposit = 10000):
    cur.executescript('INSERT INTO Member (name, deposit) VALUES('+  + ',' + name + ',' + deposit + ');')
    conn.commit()
        
def penalty(name, pos = 2000):
    cur.executescript(
    "UPDATE Member SET deposit = deposit -" +  str(pos) + " WHERE name = '"+ name+ "'")
    conn.commit()

In [142]:
late = []

for i in range(len(late_list)):
    for j in range(len(member)):
        if len(late_list[i]) == 2:  # 2개인 경우가 존재함
            if late_list[i] == member[j][1:]:
                late.append(member[j])
        else:  # 3개인 경우가 존재함
            late.append(member[j])

for i in range(len(late)):
    penalty(late[i])